/*CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables*/
:root{
    --navbar-height: 59px;
}
/*navigation bar*/
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}
/*navigation bar: Logo and Image*/
#logo{
    margin: 10px 34px;

}
#logo img{
    margin: 3px 6px;
    height: 59px;
}
/*Navigation bar: List styling*/
#navbar ul{
    display: flex;
    font-family: 'Baloo bhai','cursive';
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration:none;
}
#navbar::before{
    content:"";
    background-color:black;
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.4;
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
}
/*home Section*/
#home{
    display: flex;
    flex-direction: column;
    height:730px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;    
}
#home::before{
    content:"";
    background:url(./bg1.jpg) no-repeat center/cover;
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.89;
}
/*Services Section*/
#services{
    display:flex;
    margin:34px;
}
#services .box{
    border:2px solid brown;
    padding: 34px;
    margin:3px 55px;
    border-radius:28px;
    background-color:#f2f2f2;
}
#services .box img{
    height: 160px;
    display:block;
    margin:auto;
}
/*Utility Classes*/
.h-primary{
    font-size:3.8rem;
    padding:12px;
    text-align: center;
}
.h-secondary{
    font-size:2.3rem;
    padding:12px;
    text-align: center;
}
.h-secondary p{
    font-family: 'Bree Serif', serif;
}
#home h1{
    color:white;
    text-align:center;
}
#home p{
    color:white;
    text-align:center;
    font-size:1.5rem;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding:6px 20px;
    border:2px solid white;
    background-color:brown;
    color:white;
    margin:17px;
    box-shadow:0px 0px 1px 2px;
    font-size:1.5rem;
    border-radius:10px;
    cursor: pointer;
}
.btn:hover{
    background-color:white;
    color:brown;
}
/*client Section*/
#client-section{
 /*height: 344px;*/
 position: relative;
}
#client-section::before{
    content:"";
    position: absolute;
    background: url('bg.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
.clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients img{
    height:124px;
}
.class-Item{
    padding:34px;
} 
#contact{
    position: relative;
}
#contact::before{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact.jpg') no-repeat center center/cover;
}
.center{
    text-align:center;
}
footer{
    background-color:black;
    color:white;
    padding:9px 20px;
}
#contactbox{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom:34px;
}
#contactbox input,
#contactbox textarea{
    width:100%;
    padding:0.5rem;
    border-radius:9px;
    font-size:1.1rem;
}
#contactbox form{
    width:40%;
}
#contactbox label{
    font-size:1.3rem;
}